<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ch.droptilllate.application"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/ch.droptilllate.application/css/default.css">
         </property>
         <property
               name="appName"
               value="ch.droptilllate.application">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://ch.droptilllate.application/ch.droptilllate.application.lifecycle.LifeCycleManager">
         </property>
         <property
               name="aboutImage"
               value="logos/Logo128.png">
         </property>
         <property
               name="aboutText"
               value="Copyright by Marco Betschart &amp; Réne Amrhein">
         </property>
         <property
               name="windowImages"
               value="logos/Logo16.png,logos/Logo32.png,logos/Logo48.png,logos/Logo64.png,logos/Logo128.png">
         </property>
      </product>
   </extension>

</plugin>
