<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ch.droptilllate.application"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/ch.droptilllate.application/css/default.css">
         </property>
         <property
               name="appName"
               value="ch.droptilllate.application">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://ch.droptilllate.application/ch.droptilllate.application.lifecycle.LifeCycleManager">
         </property>
         <property
               name="aboutImage"
               value="icons/Logo1_128.png">
         </property>
         <property
               name="aboutText"
               value="Copyright by Marco Betschart &amp; Réne Amrhein">
         </property>
         <property
               name="windowImages"
               value="icons/Logo1_16.png,icons/Logo1_32.png,icons/Logo1_48.png,icons/Logo1_64.png,icons/Logo1_128.png">
         </property>
      </product>
   </extension>

</plugin>
